@import url("https://fonts.googleapis.com/css?family=Arvo");
body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  /* background:rgb(218, 167, 218); */
  font-size: 13px;
  font-family: 'Arvo', monospace;
}
@supports (display: grid) {
  body,
  html {
    display: block;
  }
}
.kuja
{
  font-size:50px;
  text-align: center;
  font-weight: bold;
  padding-top: -30px;
}
.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
}
@supports (display: grid) {
  .message {
    display: none;
  }
}

.section {
  display: none;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 4rem;
  }
}
@supports (display: grid) {
  .section {
    display: block;
  }
}

h1 {
  font-size: 2rem;
  margin: 0 0 1.5em;
}

.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;

  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
}
.item:nth-of-type(1) {
  background-image: url("../img/DSC_1977\ \(Copy\).JPG");
}
.item:nth-of-type(2) {
  background-image: url("../img/DSC_1993\ \(Copy\).JPG");
}
.item:nth-of-type(3) {
  background-image: url("../img/DSC_2024\ \(Copy\).JPG");
}
.item:nth-of-type(4) {
  background-image: url("../img/DSC_2002\ \(Copy\).JPG");
}
.item:nth-of-type(5) {
  background-image: url("../img/DSC_2286\ \(Copy\).JPG");
}
.item:nth-of-type(6) {
  background-image: url("../img/DSC_2101\ \(Copy\).JPG");
}
.item:nth-of-type(7) {
  background-image: url("../img/DSC_2275\ \(Copy\).JPG");
}
.item:nth-of-type(8) {
  background-image: url("../img/DSC_2253\ \(Copy\).JPG");
}
.item:nth-of-type(9) {
  background-image: url("../img/DSC_2194\ \(Copy\).JPG");
}
.item:nth-of-type(10) {
  background-image: url("../img/DSC_2193\ \(Copy\).JPG");
}
.item:nth-of-type(11) {
  background-image: url("../img/DSC_2145\ \(Copy\).JPG");
}
.item:nth-of-type(12) {
  background-image: url("../img/DSC_2111\ \(Copy\).JPG");
}
.item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
.item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.item:hover:after {
  opacity: 0;
}
.item--medium {
  grid-row-end: span 2;
}
.item--large {
  grid-row-end: span 3;
}
.item--full {
  grid-column-end: auto;
}
@media screen and (min-width: 768px) {
  .item--full {
    grid-column: 1/-1;
    grid-row-end: span 2;
  }
}
.item__details {
  position: relative;
  z-index: 1;
  padding: 15px;
  color: #444;
  background: #fff;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: #828282;
}
.item__details:before {
  content: counter(item-counter);
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 0.5em;
  color: #444;
}
